@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0 auto;
  display: grid;
  place-items: center;
}

/* ############################################home section starts############################################ */
.main {
  max-width: 1600px;
}

.home {
  width: 100%;
  background: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
}

.home .navigation {
  width: 80%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.navigation .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navigation .links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin-left: 30px;
  transition: all 0.3s ease;
  font-weight: 700;
  font-style: italic;
}

.navigation .links a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  display: block;
}
/* ############################################home section ends  ############################################ */

/* ###########################################banner section starts########################################### */

.banner .bottom-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 10px 100px;
}

.bottom-box .bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bottom-box .bottom-links a {
  text-decoration: none;
  color: #404f6c;
  font-size: 0.75rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin-left: 30px;
  transition: all 0.3s ease;
  font-weight: 700;
  font-style: italic;
}

.bottom-box .bottom-links a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #404f6c;
  display: block;
}

/* ###########################################banner section ends########################################### */

/* ############################################ Middle section starts########################################## */

.middle-section {
  width: 100%;
  height: 100vh;
  background: url(./assets/mid-section-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.middle-section .content-box {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 80px 100px;
}

.content-box .box2 {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  font-family: "Nunito Sans", sans-serif;
}

.middle-section .img-gallery {
  width: 100%;
  height: 12rem;
  background-color: #404f6c9e;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-gallery .img-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section .dot-box {
  position: absolute;
  top: 96%;
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.5rem;
}

/* ############################################ Middle section ends############################################ */

/* ###########################################footer section starts########################################### */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0 0;
  margin: 0 auto;
}

.footer .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto 2rem auto;
}

.box1 .text-wrapper {
  margin-left: 7rem;
  font-family: "Nunito Sans", sans-serif;
  width: 70%;
}

.footer .tab-control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  background-color: #404f6c;
  align-items: center;
  padding: 0 300px;
}

.tab-control .tab-switch,
.tab-switch2 {
  width: 8rem;
  height: 100%;
  display: grid;
  place-items: center;
}

.active-tab {
  background-color: #b0b4be;
  color: #404f6c !important;
}

.tab-switch p,
.tab-switch2 p {
  font-weight: 800;
  font-family: "Mohave", sans-serif;
  font-size: 1.5rem;
  color: #9fa7b6 !important;
  background: none;
  line-height: 42px;
}

.active-tab p {
  color: #404f6c !important;
}

.tab-switch p:hover,
.tab-switch2 p:hover {
  cursor: pointer;
}

.tab-switch p::after,
.tab-switch2 p::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: #404f6c;
  display: block;
  margin-top: -5px;
}

.tab-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 37.5rem;
  padding: 80px 300px;
  background: url(./assets/tab-1-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.tab-group-swap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 37.5rem;
  padding: 80px 300px;
  background: url(./assets/tab2-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.tab-group .mountain1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.footer .bottom-bar {
  width: 100%;
  height: 4rem;
  background-color: #404f6c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #61759e;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-style: italic;
}

/* ###########################################footer section ends########################################### */

/* #######################################carousel for mobile starts####################################### */

.carousel {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-container {
  display: flex;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  width: 250px;
  height: auto;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.active-dot {
  background-color: #888;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.prev-btn {
  display: none;
  left: -10px;
}

.next-btn {
  display: none;
  right: -10px;
}

/* #######################################carousel for mobile ends####################################### */

/* #######################################accordion for mobile starts####################################### */

.accordion-section {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: none;
}
.accordion {
  width: -webkit-fill-available !important;
}
.accordion-btn {
  background-color: #f4f4f4;
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
}
.accordion-content1 {
  height: 30rem;
  background-repeat: no-repeat;
  display: none;
  padding: 10px;
  background: url(./assets/tab-1-bg.png);
  background-position: center;
  background-size: cover;
}
.accordion-content2 {
  height: 30rem;
  background-repeat: no-repeat;
  display: none;
  padding: 10px;
  background: url(./assets/tab2-bg.png);
  background-position: center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

/* #######################################accordion for mobile ends####################################### */

/* ############################################## Midia queries############################################## */
@media screen and (max-width: 768px) {
  .footer .tab-control,
  .tab-group {
    display: none;
  }

  .accordion-section {
    display: inline;
  }

  .home {
    height: 33vh;
  }

  .home .navigation {
    width: 100%;
  }

  .banner .bottom-box {
    width: 100%;
  }

  .middle-section {
    height: 65vh;
  }

  .middle-section .content-box {
    width: 100%;
  }

  .carousel {
    width: 440px;
  }

  .prev-btn {
    display: inline-block;
    left: -10px;
  }

  .next-btn {
    display: inline-block;
    right: -10px;
  }
}

@media screen and (max-width: 480px) {
  .banner .bottom-box {
    padding: 10px 10px;
  }

  .home .navigation {
    padding: 10px;
  }

  .middle-section .content-box {
    padding: 80px 10px;
  }

  .footer .box1 {
    width: 100%;
    padding: 10px;
  }
}

/* ################################################The End################################################ */
